.work {
    background-image: url('src/assets/pictures/work_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 880px;
}

.title {
    text-align: center;
    color: blue;
    font-size: 40px;
    padding-top: 20px;
}

.underline {
    border-bottom: 2px solid currentColor;
}

.strechright {
    float: right;
    margin-right: 30px;
}

.links {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.spacing{
    margin: 50px;
}

.framesize {
    height: 215px;
}

.photobar {
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.photospacing {
    margin-left: 16px;
    margin-right: 10px;
}

.imgspacing{
    margin: 33px;
}